<% 
	const collection = "sliders";
	const folderUpload 	= `uploads/${collection}/`;
%>
<!--Parallax Section-->
        <div class="section">
            <div class="hero hero--large hero__overlay bg-size">
            	<img class="bg-img" src="<%= folderUpload + listSliders[2].avatar %>" alt="" />
                <div class="hero__inner">
                    <div class="container">
                        <div class="wrap-text left text-small font-bold">
                            <h2 class="h2 mega-title">Belle <br> <%- listSliders[2].description %></h2>
                            <!-- <div class="rte-setting mega-subtitle">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</div> -->
                            <a href="/tat-ca-san-pham" class="btn">MUA NGAY</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Parallax Section-->