<% include ../../../admin/helpers/userTimeInfo %>
<% 
	const collection = "articles";
	const folderUpload 	= `uploads/${collection}/`;
%>

<div class="col-lg-8 post-list container">
    <div class="single-post-wrap">
        <div class="feature-img-thumb relative">
            <div class="overlay overlay-bg"></div>
            <img class="img-fluid" src="<%= folderUpload + itemArticle.thumbnail %>" alt="<%= itemArticle.title %>">
        </div>
        <div class="content-wrap container">
            <ul class="tags mt-10">
                <li><a href="/category/"></a></li>
            </ul>
            <h3><%= itemArticle.title %></h3>
            <ul class="meta pb-20">
                <li><a href="#"><span class="lnr lnr-user"></span></a></li>
                <li><a href="#"><span class="lnr lnr-calendar-full"></span></a></li>
            </ul>
            <p><%- itemArticle.description %> </p>
    </div>
</div>
</div>


