<% 
    filterIsAdminHelper = (collection, isAdminFilter,  keyword) => { 
        let xhtmlResult = '';
        isAdminFilter.forEach((item)=> {
            if(item.count == 0) return;
            let link = systemConfig.prefixAdmin + '/' + collection + '/isAdmin/' + item.value;
            if(keyword !== "" && keyword !== undefined) link += '?keyword=' + keyword;

            xhtmlResult += `<a class="mr-1 btn btn-sm  btn-${item.class}" href="${link}">
                ${item.name.toUpperCase()} <span class="badge badge-pill badge-light">${item.count}</span>
            </a> `;
        })
        return xhtmlResult;
    } 
%>



