    <!--Body Content-->
    <div id="page-content">
    	<!--Page Title-->
    	<div class="page section-header text-center">
			<div class="page-title">
        		<div class="wrapper"><h1 class="page-width">Mục Yêu Thích</h1></div>
      		</div>
		</div>
        <!--End Page Title-->
        
        <div class="container">
        	<div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col">
                	<form action="#">
                        <div class="wishlist-table table-content table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                    	<th class="product-name text-center alt-font">Xóa</th>
                                        <th class="product-price text-center alt-font">Hình Ảnh</th>
                                        <th class="product-name alt-font">Tên Sản Phẩm</th>
                                        <th class="product-price text-center alt-font">Giá</th>
                                        <th class="product-subtotal text-center alt-font">Thêm Vào Giỏ Hàng</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </form>                   
               	</div>
            </div>
        </div>
        
    </div>
    <!--End Body Content-->