<% 
    imageHelper = (folder, imageName alt = "Image",id="showImage") => {

        if(imageName == null){ 
            imageName = 'no-avatar.png';
        }else{
            let arr=imageName.split(",")
            imageName=arr[0],
        }

        return `
                        <div class="product-details-img">
							<div class="product-thumb">
								<div id="gallery" class="product-dec-slider-2 product-tab-left">
									<a data-image="${folder + arr[0]}" data-zoom-image="${folder + arr[0]}" class="slick-slide slick-cloned" data-slick-index="-4" aria-hidden="true" tabindex="-1">
										<img class="blur-up lazyload" src="${folder + arr[0]}" alt="" />
									</a>
									<a data-image="${folder + arr[0]}" data-zoom-image="${folder + arr[0]}" class="slick-slide slick-cloned" data-slick-index="-3" aria-hidden="true" tabindex="-1">
										<img class="blur-up lazyload" src="${folder + arr[0]}" alt="" />
									</a>
									<a data-image="${folder + arr[0]}" data-zoom-image="${folder + arr[0]}" class="slick-slide slick-cloned" data-slick-index="-2" aria-hidden="true" tabindex="-1">
										<img class="blur-up lazyload" src="${folder + arr[0]}" alt="" />
									</a>
									<a data-image="${folder + arr[0]}" data-zoom-image="${folder + arr[0]}" class="slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" tabindex="-1">
										<img class="blur-up lazyload" src="${folder + arr[0]}" alt="" />
									</a>
								</div>
							</div>
							<div class="zoompro-wrap product-zoom-right pl-20">
								<div class="zoompro-span">
									<img class="zoompro blur-up lazyload" data-zoom-image="${folder + arr[0]}" alt="" src="${folder + arr[0]}" />
								</div>
								<div class="product-labels"><span class="lbl on-sale">Sale</span><span class="lbl pr-label1">new</span></div>
								<div class="product-buttons">
									<a href="https://www.youtube.com/watch?v=93A2jOW5Mog" class="btn popup-video" title="View Video"><i class="icon anm anm-play-r" aria-hidden="true"></i></a>
									<a href="#" class="btn prlightbox" title="Zoom"><i class="icon anm anm-expand-l-arrows" aria-hidden="true"></i></a>
								</div>
							</div>

						</div>
        `;
    }
%>
