<% showCategoryFilter=(data, id)=>{
  if (!data) return
  let html = ''
  data.forEach((item)=>{
  let active = (item.id == id) ? 'active' : ''
  html +=`
  <li class="lvl-1 mb-5 overflow-hidden ${active}">
    <a href="/danh-muc/${item.id}" class="site-nav">${item.name}</a>
  </li>
  `
  })
  return html
  }
  // <span class="num border float-right">${item.productList.length}</span>
  %>