<% 
    imageMulti = (images,folderUpload) => {
        if(!images) return null;
        let xhtml = '';
        let arr = images.split(',');
        arr.forEach(value => {
            xhtml += `
                <a href="product/<%= items.id %>" class="grid-view-item__link">
                                    <!-- image -->
                                    <img class="primary blur-up lazyload"
                                    
                                        data-src="${value}"
                                        src="${folderUpload + value}" alt="image"
                                        title="product">
                                    <!-- End image -->
                                    <!-- Hover image -->
                                    <img class="hover blur-up lazyload"
                                        data-src="${value}"
                                        src="${folderUpload + value}" alt="image"
                                        title="product">
                                    <!-- End hover image -->
                                    <!-- Variant Image-->
                                    <img class="grid-view-item__image hover variantImg"
                                        src="${folderUpload + value}" alt="image"
                                        title="product">
                                    <!-- Variant Image-->
                                </a>
            `;
        })
        return xhtml;
        
    }
%>

