<% 
    imageMulti = (images,folderUpload) => {
        if(!images) return null;
        let xhtml = '';
        let arr = images.split(',');
        arr.forEach(value => {
            xhtml += `
            <div class="product-details-img">
							<div class="product-thumb">
								<div id="gallery" class="product-dec-slider-2 product-tab-left">
									<a data-image="${folderUpload + value}" data-zoom-image="${folderUpload + value}" class="slick-slide slick-cloned" data-slick-index="-4" aria-hidden="true" tabindex="-1">
										<img class="blur-up lazyload" src="${folderUpload + value}" alt="" />
									</a>
									<a data-image="${folderUpload + value}" data-zoom-image="${folderUpload + value}" class="slick-slide slick-cloned" data-slick-index="-3" aria-hidden="true" tabindex="-1">
										<img class="blur-up lazyload" src="${folderUpload + value}" alt="" />
									</a>
									<a data-image="${folderUpload + value}" data-zoom-image="${folderUpload + value}" class="slick-slide slick-cloned" data-slick-index="-2" aria-hidden="true" tabindex="-1">
										<img class="blur-up lazyload" src="${folderUpload + value}" alt="" />
									</a>
									<a data-image="${folderUpload + value}" data-zoom-image="${folderUpload + value}" class="slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" tabindex="-1">
										<img class="blur-up lazyload" src="${folderUpload + value}" alt="" />
									</a>
									<a data-image="${folderUpload + value}" data-zoom-image="${folderUpload + value}" class="slick-slide slick-cloned" data-slick-index="0" aria-hidden="true" tabindex="-1">
										<img class="blur-up lazyload" src="${folderUpload + value}" alt="" />
									</a>
									<a data-image="${folderUpload + value}" data-zoom-image="${folderUpload + value}" class="slick-slide slick-cloned" data-slick-index="1" aria-hidden="true" tabindex="-1">
										<img class="blur-up lazyload" src="${folderUpload + value}" alt="" />
									</a>
									<a data-image="${folderUpload + value}" data-zoom-image="${folderUpload + value}" class="slick-slide slick-cloned" data-slick-index="2" aria-hidden="true" tabindex="-1">
										<img class="blur-up lazyload" src="${folderUpload + value}" alt="" />
									</a>
								</div>
							</div>
							<div class="zoompro-wrap product-zoom-right pl-20">
								<div class="zoompro-span">
									<img class="zoompro blur-up lazyload" data-zoom-image="${folderUpload + value}" alt="" src="${folderUpload + value}" />
								</div>
								<div class="product-labels"><span class="lbl on-sale">Sale</span><span class="lbl pr-label1">new</span></div>
								<div class="product-buttons">
									<a href="https://www.youtube.com/watch?v=93A2jOW5Mog" class="btn popup-video" title="View Video"><i class="icon anm anm-play-r" aria-hidden="true"></i></a>
									<a href="#" class="btn prlightbox" title="Zoom"><i class="icon anm anm-expand-l-arrows" aria-hidden="true"></i></a>
								</div>
							</div>
							<div class="lightboximages">
								<a href="${folderUpload + value}" data-size="1462x2048"></a>
								<a href="${folderUpload + value}" data-size="1462x2048"></a>
								<a href="${folderUpload + value}" data-size="1462x2048"></a>
								<a href="${folderUpload + value}" data-size="1462x2048"></a>
								<a href="${folderUpload + value}" data-size="1462x2048"></a>
								<a href="${folderUpload + value}" data-size="1462x2048"></a>
								<a href="${folderUpload + value}" data-size="731x1024"></a>
							</div>

						</div>
            `;
        })
        return xhtml;
        
    }
%>

