<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<% include ./elements/head %>
</head>

<body>
	<div class="pageWrapper">
			<% include ./elements/header %>
				<% include ./elements/slider %>
					<div id="page-content">
						<%- body %>
						</div>
					</div>

					<% include ./elements/footer %>
	</div>
	<% include ./elements/script %>
</body>

</html>